$weight-desctop: 80rem;

$color-header-background: white;
$color-logo-text: #f1cdb3;
$color-logo-subtitle: #ffffff;
$color-menu-link-text: #cdcdcd;
$color-menu-link-text-hover: #fafafa;
$color-menu-link-border: #f1cdb3;

$color-start-screen-title-text: #ffffff;
$color-start-screen-description-text: #cdcdcd;
$color-start-screen-button-background: #f1cdb3;
$color-start-screen-button-background-hover: #fddcc4;
$color-start-screen-button-text: #292929;

$color-about-title-text: #545454;
$color-about-description-text: #4c4c4c;
