$weight-laptop: 80rem;
$weight-laptop-midle-pets: 75rem;
$weight-laptop-midle: 67.5rem;
$weight-tablet: 48rem;
$weight-tablet-midle-pets: 46.875rem;
$weight-tablet-burger: 43.75rem;
$weight-tablet-midle-help: 31.25rem;
$weight-tablet-midle-donation: 31.25rem;
$weight-tablet-midle: 25rem;
$weight-mobile: 20rem;

$color-header-background: white;
$color-logo-text: #f1cdb3;
$color-logo-subtitle: #ffffff;
$color-menu-link-text: #cdcdcd;
$color-menu-link-text-hover: #fafafa;
$color-menu-link-border: #f1cdb3;

$color-button-border: #f1cdb3;

$color-start-screen-title-text: #ffffff;
$color-start-screen-description-text: #cdcdcd;
$color-start-screen-button-background: #f1cdb3;
$color-start-screen-button-background-hover: #fddcc4;
$color-start-screen-button-text: #292929;

$color-about-title-text: #545454;
$color-about-description-text: #4c4c4c;

$color-pets-background: #f6f6f6;
$color-pets-title-text: #545454;
$color-pets-item-background: #fafafa;
$color-pets-button-pets-background: #f1cdb3;

$color-help-item-text: #545454;

$color-donation-background: #f6f6f6;
$color-donation-credit-card-background: #f1cdb3;
$color-donation-content-title-text: #545454;
$color-donation-content-credit-card-text: #545454;
$color-donation-description-text: #b2b2b2;

$color-footer-title-text: #ffffff;
$color-footer-description-text: #f1cdb3;

$color-header-pets-background: #ffffff;
$color-header-pets-logo-text: #545454;
$color-header-pets-logo-subtitle: #292929;
$color-header-pets-menu-link: #545454;
$color-header-pets-menu-link-hover: #292929;
$color-header-pets-menu-link-border: #f1cdb3;

$color-main-pets-background: #f6f6f6;
$color-main-pets-pagination-border: #cdcdcd;
$color-main-pets-pagination-view-background: #f1cdb3;
$color-main-pets-pagination-border-hover: #f1cdb3;
$color-main-pets-pagination-background-hover: transparent;

$color-burger-menu-button: #f1cdb3;
$color-burger-menu-nutton-our-pets: #000000;
$color-burger-menu-background: #292929;
$color-burger-menu-link-text: #cdcdcd;

$box-shadow-pets-item: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
