@mixin font($size, $height: $size, $weight: 400, $style: normal, $letter: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $letter;
}

@mixin columns {
  display: flex;
  justify-content: space-between;
}

@mixin media-laptop {
  @media (max-width: $weight-laptop) {
    @content;
  }
}

@mixin media-laptop-midle-pets {
  @media (max-width: $weight-laptop-midle-pets) {
    @content;
  }
}

@mixin media-tablet-burger {
  @media (max-width: $weight-tablet-burger) {
    @content;
  }
}

@mixin media-laptop-midle {
  @media (max-width: $weight-laptop-midle) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $weight-tablet) {
    @content;
  }
}

@mixin media-tablet-midle {
  @media (max-width: $weight-tablet-midle) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $weight-mobile) {
    @content;
  }
}
