.about__wrapper {
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 7.8125rem;

  @include media-laptop-midle {
    row-gap: 5rem;
  }

  @include media-tablet-midle {
    row-gap: 2.625rem;
  }
}

.about__content {
  max-width: 26.875rem;
  display: flex;

  flex-direction: column;

  row-gap: 1.5625rem;

  @include media-tablet {
    order: -1;
  }

  @include media-tablet-midle {
    row-gap: 1.375rem;
  }
}

.title-about {
  max-width: 23.125rem;

  @include media-tablet-midle {
    text-align: center;
  }
}

.content__description {
  font-family: "arial";
  @include font($size: 0.9375rem, $height: 160%, $weight: 400, $letter: normal);

  @include media-mobile {
    text-align: justify;
  }
}

.description--about {
  color: $color-about-description-text;
}

.about__image {
  @include media-mobile {
    width: 16.25rem;
    height: 22.0625rem;
  }
}
