.about {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
}

.about__wrapper {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 6.8125rem;
  align-items: flex-start;

  @include media-tablet {
    row-gap: 5rem;
  }
}

.about__content {
  max-width: 26.875rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;

  @include media-tablet {
    order: -1;
  }
}

.title-about {
  max-width: 23.125rem;
}

.content__description {
  font-family: "arial";
  @include font($size: 0.9375rem, $height: 160%, $weight: 400, $letter: normal);
}

.description--about {
  color: $color-about-description-text;
}
