.footer {
  @extend %linear-gradient-background-color-footer;
}

.footer__wrapper {
  padding-top: 0;
  padding-bottom: 0;
 
}

.list-footer {
  padding-top: 2.5rem;

  @include media-laptop-midle {
    padding-top: 1.875rem;
    justify-content: center;
    column-gap: 3.75rem;
  }

  @include media-tablet-midle {
    padding-top: 0;
    padding-top: 1.875rem;
  }
}

.list-footer__item {
  max-width: 17.5rem;
  margin-top: 1rem;
  margin-bottom: 3.75rem;

  @include media-tablet {
    margin-top: 0;
  }

  @include media-tablet-midle {
    margin-bottom: 2.5rem;
  }
}

.title--footer {
  color: $color-footer-title-text;
}

.item-footer {
  min-height: 14.625rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-tablet-midle {
    min-height: auto;
    align-items: center;
    row-gap: 2.5rem;
  }
}

.item-footer--center {
  min-width: 18.875rem;

  & .item-footer__description {
    align-self: flex-start;
  }
}

.item-footer__title {
  @include media-tablet-midle {
    max-width: 16.875rem;

    text-align: center;
  }
}

.email,
.phone,
.item-footer__description {
  display: flex;
  column-gap: 1.25rem;
  align-items: center;
}

.item-footer__image {
  display: block;

  min-width: 1.375rem;
}

.item-footer-image__footer-image {
  @include media-tablet-midle {
    width: 16.25rem;
    height: 16.8125rem;
  }
}

.item-footer__text {
  color: $color-footer-description-text;
  @include font($size: 1.25rem, $height: 115%, $weight: 400, $letter: 0.06em);
}
