.help {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
}

.help__wrapper {
  padding-left: 2.8125rem;
  padding-right: 2.8125rem;
  margin-left: auto;
  margin-right: auto;
}

.help__title {
  margin-bottom: 3.65rem;
  text-align: center;
}

.list {
  display: flex;
  column-gap: 7.5rem;
  row-gap: 1rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list__item {
  white-space: nowrap;
  height: 9.375rem;

  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
  text-align: center;
}

.image-sourse {
  margin-left: auto;
  margin-right: auto;
}

.item__text {
  color: $color-help-item-text;
  @include font($size: 1.25rem, $height: 115%, $weight: 400, $letter: 0.06em);
}
