.main {
}
.main-pets {
  padding: 5rem 2.5rem 6.25rem 2.5rem;

  background-color: $color-main-pets-background;
}
.main-pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.8125rem;
}
.main-pets__title {
}
.main__title {
}
.title--xl {
}
.main-pets__list {
}
.list-pets {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 1.875rem;
}
.list-pets__item {
}
.item {
}
.item__slider-image {
}
.image-sourse {
}
.item__title {
}
.title--lg {
}
.item__button {
}
.button {
}
.button-item-pets {
}
.main-buttons-wrapper {
}
.main__button {
}
.button__prev-prev {
}
.view-page {
}
