.main-pets {
  background-color: $color-main-pets-background;
}

.main-pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.75rem;

  @include media-tablet {
    row-gap: 1.875rem;
    padding-bottom: 4.75rem;
  }

  @include media-tablet-midle {
    padding-bottom: 2.625rem;
    row-gap: 2.625rem;
  }
}

.main-pets__title {
  text-align: center;
}

.main-pets .slider {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 1.875rem;

  @include media-tablet {
    margin-bottom: 0.625rem;
  }

  @include media-tablet-midle {
    margin-bottom: 0;
  }
}

.pagination {
  display: flex;
  column-gap: 1.25rem;

  @include media-tablet-midle {
    column-gap: 0.625rem;
  }
}

.pagination__prev-prev,
.pagination__prev,
.pagination__view-page,
.pagination__next,
.pagination__next-next {
  width: 3.25rem;
  height: 3.25rem;
}

.view-page {
  background: $color-main-pets-pagination-view-background;
}
