.start-screen {
  padding-top: 5.625rem;

  @include media-laptop-midle {
    padding-top: 3.75rem;
  }
}

.start-screen__wrapper {
  display: flex;
  column-gap: 2.625rem;
  flex-direction: column;

  @include media-laptop-midle {
    flex-wrap: wrap;
  }
}

.start-screen__content {
  padding-top: 10.1875rem;
  max-width: 28.75rem;

  display: flex;
  flex-direction: column;
  row-gap: 2.625rem;

  @include media-laptop-midle {
    padding-top: 0;
    padding-bottom: 6.25rem;
    align-self: center;
  }
}

.start-screen__title {
  max-width: 19.375rem;
}

.title-start-screen {
  color: $color-start-screen-title-text;
  @include font($size: 2.75rem, $height: 130%, $weight: 400, $letter: normal);
}

.start-screen__description {
  font-family: "Arial";
  color: $color-start-screen-description-text;
  @include font($size: 0.9375rem, $height: 160%, $weight: 400, $letter: normal);
}

.content__button {
  width: 12.9375rem;
  height: 3.25rem;

  @include media-laptop-midle {
    align-self: center;
  }
}

.start-screen__image {
  @include media-laptop-midle {
    width: 35.5625rem;
    height: 37.625rem;

    align-self: flex-end;
  }
}
